
/* ALL PAGES STYLING */
body {
    margin-left: 2em;
    margin-right: 2em;
}

/* BUTTON STYLING */
.button_center {
    text-align: center;
}

.btn-primary {
    background-color: #006D04;
    border-color: #006D04;
}

.btn-primary:hover {
    background-color: #004903;
    border-color: #004903;;
}

.btn-outline-danger {
    background-color: #006852;
    border-color: #006852;
}

.quiz_answers {
    border-color: ;
}

/* HOME PAGE STYLING */

.calculator-section h2 {
    color: #000000;
    margin-top: -2rem;
    margin-bottom: 2.5rem;
}

.quiz-section h2 {
    margin-bottom: 2.5rem;
}

.resources-section h2 {
    margin-bottom: 2.5rem;
}

/* RESOURCE PAGE STYLING */
.callout_container {
    background-color: #E3EFE3;
    outline: 5px solid #006D04;
}

/* QUIZ PAGE STYLING */
.quiz_background {
    background-image: url("../../public/busoutline.svg");
    background-repeat: no-repeat;
    background-position: top 100px center;
}

.quiz_question {
    background-color: #002E68;
    color: white;
}

.quiz_window {
    background-color: #F8F8F8;
    max-width: 800px;
}