/* ALL PAGES STYLING */
body {
    margin-left: 2em;
    margin-right: 2em;
}

h4 {
    color: #002E68;
}

img {
    border-radius: 20px;
}

/* NAV STYLING */

.nav-link {
    margin-left: 2em;
    font-weight: bold;
}
.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link:hover {
    color: #006D04
}

.navbar-nav .nav-link:active {
    color: #006D04
}

.nav_click:active {
    color: #006D04 !important
}

/* BUTTON STYLING */
.button_center {
    text-align: center;
}

.btn-primary {
    background-color: #006D04 !important;
    border-color: #006D04 !important;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.btn-primary:hover {
    background-color: #004903 !important;
    border-color: #004903 !important;
}

/* .btn-primary: {
    background-color: #004903;
    border-color: #004903;
} */

/* is using min-height min-width a bad thing */
.quiz_answers {
    min-height: 120px;
    min-width: 166px;
    background-color: #F8F8F8;
    color: #002E68;
    font-size: 6em;
    font-weight: bolder;
    text-align: center;
}

.quiz_answers:hover {
    background-color: #006D04;
    color: #F8F8F8;
}

.quiz_answers:active {
    background-color: #006D04 !important;
    color: #F8F8F8 !important;
}

.btn-outline-success {
    min-height: 120px;
    min-width: 166px;
    font-size: 5em;
}

/* HOME PAGE STYLING */

.intro-section {
    padding-bottom: 5rem;
}

.homepage-img {
    /* this css ensures that each section in the home page is properly spaced out. */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.homepage-descrip {
    padding-right: 6rem;
}

.feature-section {
    background-color: #F0F0F0;
    padding-bottom: 5rem;
}

.feature-section h2 {
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.about-us h2 {
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.about-us-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px; /* Adjusted space to the left and right of the member cards */
}

.about-us-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}

.about-us-section img {
    max-width: 100%;
    height: 200px;
}

.team-member h3 {
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .about-us-section {
        width: 100%;
    }
}

/* RESOURCE PAGE STYLING */
.callout_container {
    background-color: #E3EFE3;
    outline: 5px solid #006D04;
}

/* CALCULATOR PAGE STYLING */
.form-container {
    display: flex;
    justify-content: space-between;
}

.form-content {
    flex: 1;
    margin-right: 20px;
    /* Adjust the margin as needed */
}

/* QUIZ PAGE STYLING */
@media (min-width: 1063px) {
    .quiz_background {
        background-image: url("../public/bus outline.png");
        background-repeat: no-repeat;
        background-position: top -250px center;
    }
}

.quiz_question {
    margin-top: 80px;
    background-color: #002E68;
    color: white;
    text-align: center;
    max-width: 800px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.quiz_window {
    background-color: #F8F8F8;
    max-width: 700px;
    color: #002E68;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

/* QUIZ RESULTS PAGE STYLING */
@media (min-width: 1063px) {
    .quiz-results-background {
        background-image: url("../public/short bus outline.png");
        background-repeat: no-repeat;
        background-position: top -100px center;
    }

    .flex-container {
        padding-bottom: 20px;
        max-width: 760px;
        display: flex;
        gap: 120px;
        margin-left: auto;
        margin-right: auto;
    }
}

.correct-answers,
.your-score {
    margin-top: 20px;
    max-width: 420px;
    padding: 15px;
}

.correct-answers>h4,
.your-score>h3,
.your-score>img {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.photo {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
}

/* FOOTER STYLING */
.footer {
    padding-top: 30px;
    margin-top: 30px;
}